body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 55vh;
}

.game input,
.game button {
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    width: 80%;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.game button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.game button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.instructions {
    margin-top: 20px;
}

.key {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.player {
    flex: 1;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.choice {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.hand {
    width: 120px;
    height: 80px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.scoreboard {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.score {
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
}

.winner {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.loser {
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.tie {
    color: rgba(128, 128, 128, 0.9);
    background-color: rgba(255, 255, 255, 0.1);
}